<!--HEADER-->
<%- include("partials/header.ejs") %>


<!-- ADD NEW / EDIT BOOK SCREEN -->
<div id="main-container">
    <!-- Tänne tulee koodi Blog API projektista. Lisää toiminnallisuudet sen mukaan -->
    <div id="data-modification-container" class="blur-background">
        <h1 id="edit-title"><%= heading %></h1>

        <% if (locals.books) { %>
            <!-- Form for editing a book data -->
            <form id="editForm" method="post" action="/bookEdit/<%= books[0].id %>">
                <!--title-->
                <input type="text" name="title" value="<%= books[0].title %>" placeholder="Title" required>
                <!-- rating -->
                <input type="number" id="quantity" name="rating" value="<%= books[0].rating %>" min="1" max="5" placeholder="Rating">
                <!-- date-->
                <input type="date" id="start" name="date" value="<%= books[0].data %>" min="2018-01-01" max="2018-12-31" placeholder="Finished reading"/>
                <% console.log(books[0].data); // oikeassa muodossa
                 %>
                <!-- note -->
                <textarea name="content" placeholder="Content" required rows="10"><%= books[0].content %></textarea>
                <!-- buttons -->
                <div id="button-container">
                    <button class="full-width" type="submit"><%= submit %></button>
                    <button class="full-width" type="submit">Return home</button>
                </div>
            </form>
        <% } else { %>
            <!-- Form for adding new book -->
            <form id="newBookForm" method="post" action="/newBook">
                <!--title-->
                <input type="text" name="title" placeholder="Title" required>
                <!-- rating -->
                <input type="number" id="quantity" name="rating" min="1" max="5" placeholder="Rating">            
                <!-- date-->
                <input type="date" id="start" name="date" value="2024-07-22" min="2018-01-01" max="2024-12-31" placeholder="Finished reading"/>
                <!-- note -->
                <textarea name="content" placeholder="Content" required rows="10"></textarea>
                <!-- buttons -->
                <div id="button-container">
                    <button class="full-width" type="submit"><%= submit %></button>
                    <button class="full-width" type="menu">Return home</button>
                </div>
            </form>
        <% }; %>
    </div>

</div>




<!--FOOTER-->
<%- include("partials/footer.ejs") %>