<!--HEADER-->
<%- include("partials/header.ejs") %>

<!--HERO-->
<div id="hero-container">
    <div id="hero-box-container">
        <div id="title-container" class="blur-background">
            <h1>Aquí puedes ver todos los libros que he leído y mis comentarios sobre del libro. Ojalá que disfrutes y encontres más libros para leer.</h1>
        </div>
        <div id="add-new-book-container" class="blur-background">
            <p>Add a new book to the collection:</p>
            <button type="submit">New book</button>
            <a href="/new">New book</a>
            <a href="/test">PRESS ME FOR TESTING</a>
        </div>
        <div id="quote-container">
            <p id="quote">“A reader lives a thousand lives before he dies . . . The man who never reads lives only one.”</p>
            <p id="quote-name">-George R.R. Martin</p>
        </div>
    </div>
</div>

<!-- MY BOOKS LISTING -->
<h2>My books</h2>

<!-- List item iteration -->
 <% for (let book of bookList) { %>
    <div id="book-item-container">
        <div id="book-item-data-container">
            <h3>Title: <%= book.title %></h3>
            <div id="book-data-container">
            <p>Rating: <%= book.rating %></p>
            <p>25.1.2025: <%= book.data %></p>
            </div>
            <p><%= book.content %></p>
        </div>
        <div id="book-img-container">
            <img src="/photos/cover.jpg" alt="Book-cover">
        </div>
    </div>
    <div id="edit-book-data-container">
        <div id="icon-container">
            <button class="edit" type="submit"><img class="icon"
                src="/icons/edit-icon.svg" alt="edit icon"></button>
            <button class="delete" type="submit"><img class="icon"
                src="/icons/delete-icon.svg" alt="delete icon"></button>
        </div>
        <hr>
    </div>
<% }; %>


<!--FOOTER-->
<%- include("partials/footer.ejs") %>